ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCdgpslOvDuWZ86QrKNFYtH2TqaETuN+VJf8+9PpSpx7cClrCASxPFB5ncsFtdTf96jGWTx0ZESQwhi4Q3zTo/5T+uQi3du8WWtcqLU4RbQbMKbRoHe1bOPYYrEY+d8rtJ4QU6c2W3QKyQ2TkfSJhKKmuzjlx8CFolBTmou8EKnuMW80XExCEzLXqFE+rc8JhB4WgBGuDAMqr9SZ82iVi6jNRyP8179sV9NGFas7fOGcSF1WjWDSoPVURUxOfa2GP1YqV5dYe7EkMz5qif/0YmMAiDYECtyYOREW78uP52Kqtof0+s5h5rYQMn6Qdyk53gPQmQEERidE/PaISm2BVfj root@master.example.com
