[Unit]
Description=vault service
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ config_file_location }}/config.json

[Service]
User=vault
Group=vault
EnvironmentFile=-/etc/vault
Environment=GOMAXPROCS=5
Restart=on-failure
ExecStart={{ vault_bin_location }}/vault server -config={{ config_file_location }}/config.json
StandardOutput={{ vault_log_dir_path }}/output.log
StandardError={{ vault_log_dir_path }}/error.log
enable_rate_limit_audit_logging=true
LimitMEMLOCK=infinity
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target